// Переопределяем переменные Quasar напрямую
$primary   : #dc1919; // Основной цвет как в Rozetka
$secondary : #3f3f3f; 
$accent    : #ffffff;

$dark      : #1d1d1d;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;